<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930473203875-h2k32di03obkuj8adcpjvs92dhhaar5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930473203875-h2k32di03obkuj8adcpjvs92dhhaar5u</string>
	<key>API_KEY</key>
	<string>AIzaSyBC6jo54zckdo36jsKDKhBVaZ9k3j2bkbw</string>
	<key>GCM_SENDER_ID</key>
	<string>930473203875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.priceTrackerV1</string>
	<key>PROJECT_ID</key>
	<string>price-drop-tracker-73c57</string>
	<key>STORAGE_BUCKET</key>
	<string>price-drop-tracker-73c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930473203875:ios:fe5af1ec2b284b8ab50716</string>
</dict>
</plist>